<% if (events.length > 0) { %>
<section id="featured">
  
  <h1>We've lined up some top notch coders to showoff their&nbsp;chops.</h1>

  <% events.forEach(function(event) { %>
    <a href="<%= event.stageUrl || "#" %>">
      <figure>
        <img src="<%= event.imageUrl %>" />
      </figure>
      <hgroup>
        <h1><%= event.title %></h1>
        <h2><%= event.language %></h2>
        <time datetime="<%= event.startDate %>">
        <%= event.startDate.getMonth() %>/<%= event.startDate.getDay() %>/<%= event.startDate.getYear() %> <%= event.startDate.getHours() %>:<%= event.startDate.getMinutes() %>
        </time>
      </hgroup>
      <article>
        <p><%= event.desc %></p>
      </article>    
    </a>
  <% }); %>
  
</section>
<% } %>
