<script>
  document.documentElement.setAttribute('data-pusherchannel', '<%= stage.channel %>' );
</script>

<header>

	<h1><a href="/" title="Coding Stage's Front Door">Coding Stage</a></h1>
	<iframe src="http://nodeknockout.com/iframe/team-honey-badger" frameborder=0 scrolling=no allowtransparency=true width=115 height=25 class="vote"></iframe>

        <%- partial("nav") %>

</header>

<div id="main">

	<section id="room">
	
            <h1><%= stage.name %></h1>
		<a href="/invite" title="Invite coders to join you" class="button invite">Invite Coders</a>
	
		<form id="room-settings">
	
			<fieldset>
				<legend>Update Your Room Settings</legend>
	
				<label for="private">Private Room?</label>
				<input type="checkbox" name="private" id="private" value="" />
	
				<label for="limit">Room Limit</label>
				<input type="text" placeholder="15" name="limit" id="limit" /> 
				<!-- The placeholder should be a default and then update depending on the user changed setting -->
				
				<input type="submit" value="Update Room Settings" />
				
			</fieldset>
		</form>
		
		<section id="editor">
	
			<!-- This section must not have whitespace in it, otherwise that gets inserted into the buffer when ACE inits. -->
                        <section id="ace-editor"><%= stage.content %></section>

			<label for="files">Room Files</label>
			<select id="files" name="files">
				<option data-file="file-info-here">File Name Goes Here</option>
				<option data-file="file-info-here">File Name Goes Here</option>
				<option data-file="file-new">Create a New File</option>
			</select>
		
			<a href="#" title="Import a Gist" class="button import">Import a Gist File</a>
			
		</section>
		
	</section>
	
	<section id="chat">
		
		<form id="text-chat">
			
			<input id="chat-field" type="text" placeholder="Speak Up" />
			<input type="submit" value="Be Heard" class="button" />
			
		</form>
		
    <section id="conversation">
	
			<article class="empty">
                          <p>Welcome to the <%= stage.name %> stage. Start chatting away&hellip;</p>
			</article>

                        <% stage.comments.forEach(function(comment) { %>
                          <article class="attendee">
                            <p><strong><time datetime="2011-08-27T21:51:35-05:00">(9:51:35)</time> <%= comment.author %>:</strong> <%= comment.message %></p>
                          </article>
                        <% }) %>
                        <!--
			<article class="attendee">
				<p><strong>Username:</strong> This is the text of an attendee. This is the text of an attendee. This is the text of an attendee. This is the text of an attendee. This is the text of an attendee. This is the text of an attendee. This is the text of an attendee. This is the text of an attendee. This is the text of an attendee.</p>
			</article>
	
			<article class="attendee coder">
				<p><strong>Username:</strong> This is the text of a coder</p>
			</article>
	
			<article class="attendee coder owner">
				<p><strong>Username:</strong> This is the text of a room owner</p>
			</article>
	
			<article class="attendee coder baton">
				<p><strong>Username:</strong> This is the text of a coder that has the baton</p>
			</article>
                        -->	
		</section>

	</section>

</div>

<aside>

	<section id="video-chat">

		<article id="tokbox-team-1" class="baton">
		</article>

		<article id="tokbox-team-2">
		</article>

		<article id="tokbox-team-3">
		</article>

		<article id="tokbox-team-4">
		</article>

		<a href="#" class="button">Join the video chat</a>

	</section>
	
	<section id="attendees">
		
		<h1>Who's Watching  <mark>(<span id="watchers-count"><%= stage.watchers.length %></span>)</mark><br /><a href="#">Request The Baton</a></h1>
		
		<ol>
	            <% stage.watchers.forEach(function(watcher) { %>
                      <li class="attendee">
                      <%= watcher.name %>
				<section class="interact" title="Interact with this Attendee">
				  <h1>Interact with this Attendee</h1>
  				<ul>
  				  <li><a href="#" title="Pass [username] the baton">Pass the baton</a></li> <!-- Shown only when holding the baton, only on coders -->
  				  <li><a href="#" title="Promote [username] to coder">Promote [username]</a></li> <!-- Shown to room owners, only no attendees -->
  				  <li><a href="#" title="Demote [username] to attendee">Demote [username</a></li> <!-- Shown only to room owners, only on coders -->
  				  <li><a href="#" title="Mute [username]">Mute [username]</a></li> <!-- Shown to all coders, only on attendees -->
  				  <li><a href="#" title="Update Your Name">Update Your Username</a></li> <!-- Shown to anyone that is still using the "Guest" name -->
  				</ul>
  		  </section>
                      </li>
                    <% }) %>
                </ol>
                <!--
			<li class="attendee coder owner">
				Owner
				<section class="interact" title="Interact with this Attendee">
				  <h1>Interact with this Attendee</h1>
  				<ul>
  				  <li><a href="#" title="Pass [username] the baton">Pass the baton</a></li> 
  				  <li><a href="#" title="Promote [username] to coder">Promote [username]</a></li> 
  				  <li><a href="#" title="Demote [username] to attendee">Demote [username</a></li> 
  				  <li><a href="#" title="Mute [username]">Mute [username]</a></li> 
  				  <li><a href="#" title="Update Your Name">Update Your Username</a></li> 
  				</ul>
  		  </section>
			</li>
	
			<li class="attendee coder">
				Coder
				<section class="interact" title="Interact with this Attendee">
				  <h1>Interact with this Attendee</h1>
  				<ul>
  				  <li><a href="#" title="Pass [username] the baton">Pass the baton</a></li> 
  				  <li><a href="#" title="Promote [username] to coder">Promote [username]</a></li> 
  				  <li><a href="#" title="Demote [username] to attendee">Demote [username</a></li> 
  				  <li><a href="#" title="Mute [username]">Mute [username]</a></li> 
  				  <li><a href="#" title="Update Your Name">Update Your Username</a></li> 
  				</ul>
  		  </section>
			</li>
	
			<li class="attendee coder">
				Coder

				<section class="interact" title="Interact with this Attendee">
				  <h1>Interact with this Attendee</h1>
  				<ul>
  				  <li><a href="#" title="Pass [username] the baton">Pass the baton</a></li> 
  				  <li><a href="#" title="Promote [username] to coder">Promote [username]</a></li> 
  				  <li><a href="#" title="Demote [username] to attendee">Demote [username</a></li> 
  				  <li><a href="#" title="Mute [username]">Mute [username]</a></li> 
  				  <li><a href="#" title="Update Your Name">Update Your Username</a></li> 
  				</ul>
  		  </section>
			</li>
	
			<li class="attendee coder baton">
				Baton Holder

				<section class="interact" title="Interact with this Attendee">
				  <h1>Interact with this Attendee</h1>
  				<ul>
  				  <li><a href="#" title="Pass [username] the baton">Pass the baton</a></li> 
  				  <li><a href="#" title="Promote [username] to coder">Promote [username]</a></li> 
  				  <li><a href="#" title="Demote [username] to attendee">Demote [username</a></li> 
  				  <li><a href="#" title="Mute [username]">Mute [username]</a></li> 
  				  <li><a href="#" title="Update Your Name">Update Your Username</a></li> 
  				</ul>
  		  </section>
			</li>
	
			<li class="attendee">
				Attendee
				<section class="interact" title="Interact with this Attendee">
				  <h1>Interact with this Attendee</h1>
  				<ul>
  				  <li><a href="#" title="Pass [username] the baton">Pass the baton</a></li> 
  				  <li><a href="#" title="Promote [username] to coder">Promote [username]</a></li> 
  				  <li><a href="#" title="Demote [username] to attendee">Demote [username</a></li> 
  				  <li><a href="#" title="Mute [username]">Mute [username]</a></li> 
  				  <li><a href="#" title="Update Your Name">Update Your Username</a></li> 
  				</ul>
  		  </section>
			</li>
		</ol>
                -->	
	</section>

</aside>

<footer>
	
	<nav>
		<ol>
			<li class="profile"><a href="/profile" title="Your Account Details">Profile</a></li>
			<li class="support"><a href="/support" title="Having Problems?">Support</a></li>
			<li class="create-room"><a href="/create-room" title="Create a Room and Start Coding">Create a Room</a></li>
			<li class="login"><a href="/login" title="Create Your Account">Signup <span>or</span> Login</a></li>
		</ol>
	</nav>

	<small><a href="/" title="Coding Stage's Front Door">Coding Stage</a> was built for 2011's <a href="http://nodeknockout.com/">Node Knockout</a> by <a href="http://chrisjpowers.com" title="Chris' website" rel="me">Chris J. Powers</a> (<a href="http://twitter.com/chrisjpowers" title="@chrisjpowers on Twitter" rel="me">@chrisjpowers</a>), <a href="http://benmillsdesigns.com" title="Ben's website" rel="me">Ben Mills</a> (<a href="http://twitter.com/benemills" title="@benemills on Twitter" rel="me">@benemills</a>), <a href="http://jeremyckahn.com" title="Jeremy's website" rel="me">Jeremy C. Kahn</a> (<a href="http://twitter.com/jeremyckahn" title="@jeremyckahn on Twitter" rel="me">@jeremyckahn</a>) & <a href="http://lovehasnologic.com" title="Mike's website" rel="me">Michael Gibson</a> (<a href="http://twitter.com/lovehasnologic" title="@lovehasnologic on Twitter" rel="me">@lovehasnologic</a>). Fugue iconset from <a href="http://www.pinvoke.com/">Yusuke Kamiyamane</a>.</small>
	
</footer>
