<% if ('undefined' !== typeof errors && errors.length) { %>
  <ul id="errors">
  <% for (i in errors) { %>
    <li><%= errors[i] %></li>
  </ul>
  <% } %>
<% } %>

<h2>Login</h2>
<form action="/login" method="POST">
  <div id="login">
    <label for="<%= everyauth.password.loginFormFieldName %>"><%= everyauth.password.loginFormFieldName %></label>
    <input name="<%= everyauth.password.loginFormFieldName %>" type="text">
  </div>
  <div id="password">
    <label for="password">Password</label>
    <input name="password" type="password">
  </div>

  <input type="submit" value="Login">
</form>

<h2>Register</h2>
<form action="/register" method="POST">
  <div id="login">
    <label for="<%= everyauth.password.loginFormFieldName %>"><%= everyauth.password.loginFormFieldName %></label>
    <input name="<%= everyauth.password.loginFormFieldName %>" type="text">
  </div>
  <div id="password">
    <label for="password">Password</label>
    <input name="password" type="password">
  </div>

  <input type="submit" value="Register">
</form>
