        <%- partial("header") %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Language</th>
      <th>Stub</th>
      <th>Channel</th>
    </tr>
  </thead>
  <tbody>
  <% stages.forEach(function(stage) { %>
    <tr>
      <td><a href="/stages/<%= stage.stub %>"><%= stage.name %></a></td>
      <td><%= stage.language %></td>
      <td><%= stage.stub %></td>
      <td><%= stage.channel %></td>
    </tr>
  <% }) %>
  </tbody>
</table>

        <%- partial("stage-list") %>

        <%- partial("footer") %>
